page-india {
h5{
    padding-top: 5%;   
 
color: darkgreen;
}
button,ion-icon{
    font-size: 10px;
}
#Audio{
    position: absolute;
    right: 10px;
    top: 13px;
    background-color:lightblue;
}
#footer{
    margin-top: 0px;
    
}
#one{
    position: absolute;
    left: 10px;
    color: whitesmoke;
    margin-top: 10px;
    background-color: black;
    border-radius: 50%;
    width: 2em;  height: 2em;
}
#two{
     position: absolute;
     right: 10px;
     margin-top: 10px;
     color: whitesmoke;
     background-color: black;
     width: 2em;  height: 2em;

}
#share{
    margin-top: -12px;
     right: 55px;
     position: absolute;
     color: black;
     background-color:lightgrey;
     width: 2em;  height: 2em;
}
#noAudio{
  
    position: absolute;
    right: 10px;
    top: 13px;

    text-decoration-line: line-through;
}
#navbar{
    background-color: #4CAF50;
}
#share:hover{
    background-color: #4CAF50; /* Green */
    color: white;
    width: 3em;  height: 3em;
}
#one:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    width: 3em;  height: 3em;
}
#two:hover {
    background-color: #4CAF50; /* Green */
    color: white;
    width: 3em;  height: 3em;
}
#readMore{
    
    font-size: 12px;
    display:block;
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    background-color: whitesmoke;
}
}
