page-about-content {
#contact,#bold{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    font-weight: bolder;
    color: darkblue;
}

#one,#two,#three{
background-color:#55acee;
}

}
